<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {{!-- font awesome --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Seymour+One|Timmana&display=swap" rel="stylesheet">

    {{!-- my stylesheet --}}
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Web Scraped Articles</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/app.js"></script>
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="articles" class="navbar-brand d-flex align-items-center">
                    {{!-- <div class="eb-title">All the News that's Fit To Scrape!</div> --}}
                    <div class="eb-title" id="huff">HUFFPOST</div>
                </a>
            </div>
        </div>
    </header>

    <main role="main">

        {{{ body }}}

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Jump to Top</a>
            </p>

        </div>
    </footer>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    {{!-- bootstrap --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>