<a
  class="card__image__link"
  aria-label="MEANWHILE: 3 States Move Forward With Primaries Despite Pandemic"
  aria-hidden="true"
  tabindex="-1"
  href="https://www.huffpost.com/entry/4-states-move-forward-with-primaries-despite-coronavirus_n_5e6fc97ec5b6eab7793a5135"
  data-ylk="g:2273ba27-cf39-3ace-a8d0-f104c3aad73c;itc:0;pkgt:lay-3|th-default;cpos:3;pos:1;elm:img"
  data-rapid_p="7"
  data-v9y="1"
  ><div class="card__image" role="presentation">
    <div class="card__image__src img-sized img-sized--responsive">
      <div class="img-sized__placeholder">
        <div style="padding-top:56.25%"></div>
      </div>
      <picture
        ><source
          type="image/webp"
          srcset="https://img.huffingtonpost.com/asset/5e6fcdac2300002d1ede47cb.jpeg?ops=224_126&amp;format=webp"/>
        <img
          class="img-sized__img landscape"
          loading="lazy"
          alt=""
          width="224"
          height="126"
          src="https://img.huffingtonpost.com/asset/5e6fcdac2300002d1ede47cb.jpeg?ops=224_126"
      /></picture>
    </div></div
></a>

font-family: 'Timmana', sans-serif; font-family: 'Seymour One', sans-serif;
