<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ScrapeIt</h1>
        <p class="lead text-muted">These are the notes that have been added to the articles</p>
        <p>
            <a href="articles" class="btn btn-primary my-2">Back to articles</a>
            <a href="notes" class="btn btn-secondary my-2"><button class="disabled">See notes</button></a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        {{#each notes}}
        {{!-- #IF only show if there is a note present --}}
        <div class="row">

            <div class="card">
                <div class="card-header">
                    Note
                </div>
                <div class="card-body">
                    <div class=" mb-0">
                        <p>{{this.note.body}}</p>
                        <footer class="">Source: <a href={{this.link}} target="_blank"><cite
                                    title="Source Title">{{this.title}}</cite></a></footer>
                    </div>
                </div>
            </div>
        </div>
        {{!-- /IF only show if there is a note present --}}
        {{/each}}

    </div>
</div>